<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dc.galos">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Authorization" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Menu" android:screenOrientation="portrait"/>
        <activity android:name=".View.Game" android:screenOrientation="portrait"/>
        <activity android:name=".View.Registration" android:screenOrientation="portrait"/>
        <activity android:name=".View.RestorePassword" android:screenOrientation="portrait"/>
        <activity android:name=".View.Achievements" android:screenOrientation="portrait"/>
        <activity android:name=".View.Help" android:screenOrientation="portrait"/>
        <activity android:name=".View.Rating" android:screenOrientation="portrait"/>
        <activity android:name=".View.EditAccInf" android:screenOrientation="portrait"/>
        <service android:enabled="true" android:name=".Controller.Sound" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>